<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Kiruthika.B/IdeaProjects/SeleniumAssesment">
        <classes>
            <class name="org.qualitest.pages.BookingTest">
            <methods><include name="booking"/></methods>
        </class></classes>
    </test>
</suite>
